<!doctype html>
<html lang="en">
<!--  data-bs-theme="dark" -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Immer in Bewegung</title>
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="manifest" href="manifest.json">-->
    <meta name="theme-color" content="#6f757e" id="themeColorMeta">
    <meta name="msapplication-navbutton-color" content="#6f757e">
    <link rel="shortcut icon" href="favicon.webp" />


<script>

    (() => {
        const storedTheme = localStorage.getItem('theme');
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = storedTheme ? storedTheme : (prefersDark ? 'dark' : 'light');

        if (theme === 'dark') {
            document.documentElement.setAttribute('data-bs-theme', 'dark');
            document.getElementById('themeColorMeta').setAttribute('content', '#002D2D');
        }

    })();

    </script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Francois+One&family=Righteous&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.fullscreen@latest/Control.FullScreen.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet-src.min.js" integrity="sha512-3/WyQrhTdqSVmSifQS62akgtNBhZha2lS44TnoN9Jk3J01FvsKK4suVmz6t5FtccGb5iJw58GoFhBjPE5EPc8Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet.fullscreen@latest/Control.FullScreen.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylinedecorator@1.6.0/dist/leaflet.polylineDecorator.min.js"></script>

    <style>

        .immer-in-font-uc {font-family: 'Cairo', sans-serif;text-transform: uppercase;}
        .bewegung-font-uc {font-family: 'Righteous', sans-serif;text-transform: uppercase;}
        .iib-silver-grey{background-color:#6f757e!important;color:#fff!important;font-weight:normal!important;}
        .iib-nav-link {color:#1d655e!important;}

        h1 {font-family: 'Cairo', sans-serif;font-weight:bold;margin-top:0.5em;}

        :root[data-bs-theme="light"] .iib-nav-link.active {background-color:#6f757e !important;color:#fff !important;}
        :root[data-bs-theme="light"] body, :root[data-bs-theme="light"] #offcanvasNavbar {background-color:#f8fafd;}

        :root[data-bs-theme="dark"] .form-check-input:checked {background-color:#1d655e !important;}
        :root[data-bs-theme="dark"] body, :root[data-bs-theme="dark"] #offcanvasNavbar {background-color:#000D0D!important;}
        :root[data-bs-theme="dark"] .iib-silver-grey{background-color:#002D2D!important;color:#fff!important;font-weight:normal!important;}
        :root[data-bs-theme="dark"] .iib-nav-link.active {background-color:#002D2D !important;color:#fff !important;}

        /* Leaflet */
        :root[data-bs-theme="dark"] .leaflet-touch .leaflet-control-layers,  :root[data-bs-theme="dark"] .leaflet-touch .leaflet-control-zoom-in,  :root[data-bs-theme="dark"] .leaflet-touch .leaflet-control-zoom-out{color:#fff;background-color:#002D2D !important;}
        :root[data-bs-theme="dark"]  a.leaflet-control-zoom-fullscreen.leaflet-fullscreen-icon {background-color: #FFD2D2;filter: invert(1);}
        :root[data-bs-theme="dark"] .leaflet-container .leaflet-control-attribution{background-color:#002D2DCC !important;color:#fff;}
        :root[data-bs-theme="dark"] .leaflet-container  .leaflet-control-attribution a{color:#fff !important;}
        :root[data-bs-theme="dark"] .leaflet-popup-content-wrapper,  :root[data-bs-theme="dark"] .leaflet-popup-tip {background-color:#002D2D !important;color:#fff !important;}
        :root[data-bs-theme="dark"] img.leaflet-tile {filter: brightness(0.7) contrast(3) sepia(0.6) saturate(1) hue-rotate(300deg) invert(1);}
        :root[data-bs-theme="dark"] .bg-white {background-color:#002D2D !important;}
        :root[data-bs-theme="dark"] th, :root[data-bs-theme="dark"] td {background-color:transparent !important;}


        @media (max-width: 799px) {
                .prevnext {display:none;}
        }

    </style>

    <script src="/bundle/sqljs/sql-wasm.js"></script>

  </head>



            <style>
            .loader {
              width: 50px;
              height: 50px;
              border: 5px solid #f3f3f3;
              border-top: 5px solid #1d655e; /*#3498db;*/
              border-radius: 50%;
              animation: spin 1s linear infinite;
              margin:auto;
              margin-top:30pt;
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
            </style>

  <body>

        <template id="loader">
            <div class="loader"></div>
        </template>
        <template id="liquidjsTemplateMenu">
            {% include 'components/menu.html' %}
        </template>
        <template id="liquidjsTemplateContent">
            {% if not queryParams.p or queryParams.p == '' or queryParams.p == 'overview' %}
                {% include 'overview.html' %}
            {% elsif queryParams.p == 'trip' %}
                {% include 'trip.html' %}
            {% elsif queryParams.p == 'map' %}
                {% include 'map.html' %}
            {% elsif queryParams.p == 'statistics' %}
                {% include 'statistics.html' %}
            {% elsif queryParams.p == 'dataset' %}
                {% include 'dataset.html' %}
            {% elsif queryParams.p == 'about' %}
                {% include 'about.html' %}
            {% elsif queryParams.p == 'images' %}
                {% include 'images.html' %}
            {% elsif queryParams.p == 'search' %}
                {% include 'search.html' %}
            {% endif %}
        </template>

        <div class="container-fluid p-0">

            <div class="container-fluid vh-100 d-flex flex-column p-0">
                <div class="wrapper d-flex flex-column flex-grow-1">

                    <nav class="navbar navbar-expand-lg" id="liquidjsMenu">

                    </nav>

                    <main style="height:100%;" id="liquidjsContent">
                        <div id=""><div class="loader"></div></div>
                    </main>

                </div>
            </div>

        </div>


<script src="components/iibQueries.js"></script>

    <script type="module">

        (() => {
        'use strict';

        const getStoredTheme = () => localStorage.getItem('theme');
        const setStoredTheme = theme => localStorage.setItem('theme', theme);

        const getPreferredTheme = () => {
            const storedTheme = getStoredTheme();
            return storedTheme ? storedTheme : (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        };

        const setTheme = theme => {
            document.documentElement.setAttribute('data-bs-theme', theme);

            // Update theme-color meta tag
            const metaThemeColor = document.querySelector('meta[name="theme-color"]');
            if (metaThemeColor) {
            metaThemeColor.setAttribute('content', theme === 'dark' ? '#002D2D' : '#6f757e'); // Adjust colors as needed
            }
        };

        const themeToggler = () => {
            const toggleSwitches = document.querySelectorAll('#themeToggle, #themeToggle1');

            if (toggleSwitches.length > 0) {
            // Apply initial theme
            const preferredTheme = getPreferredTheme();
            setTheme(preferredTheme);

            toggleSwitches.forEach(toggleSwitch => {
                toggleSwitch.checked = preferredTheme === 'dark';

                // Event listener for toggle switches
                toggleSwitch.addEventListener('change', () => {
                const newTheme = toggleSwitch.checked ? 'dark' : 'light';
                setStoredTheme(newTheme);
                setTheme(newTheme);

                // Sync all toggles
                toggleSwitches.forEach(switchElement => {
                    switchElement.checked = newTheme === 'dark';
                });
                });
            });

            } else {
            setTimeout(themeToggler, 100); // Retry until the elements are found
            }
        };

        document.addEventListener('DOMContentLoaded', themeToggler);
        })();



(async function () {

        // READ SETTINGS FILE
        // ==================
        const settingsFile = await fetch('personal/settings.json');
        const settings = await settingsFile.json();
        console.log("Using database: " + settings.baseSettings.sqliteFile);


        // READ TRANSLATION FILE IF EXISTS
        // ===============================
        let translation = { "menu": { "overview": "Overview", "statistics": "Statistics", "map": "Map", "dataset": "Dataset", "about": "About" } };
        try {
            const translationFile = await fetch(settings.baseSettings.translationFile);
            translation = await translationFile.json();
            console.log(translation);
        } catch (error) {
            console.log(`Langugage file error: ${error.message}`);
        }

        // INIT LIQUID
        // ===========
        const { Liquid } = await import("https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.browser.min.mjs");
        const engine = new Liquid();

        // Store database in memory
        let dbInstance = null;

        async function loadDatabase() {
            if (!dbInstance) {
                const sqlPromise = await initSqlJs({ locateFile: file => `https://sql.js.org/dist/${file}` });

                let response;

                if ( !localStorage.getItem('dbSource') && localStorage.getItem('dbSource') !== "settings.json" ) {
                    const dbContent = localStorage.getItem('dbContent');

                    if (dbContent) {
                        // Decode base64 to binary data
                        const binaryData = new Uint8Array(atob(dbContent).split('').map(char => char.charCodeAt(0)));

                        // Use the binary data as an ArrayBuffer
                        response = { arrayBuffer: async () => binaryData.buffer };
                    } else {
                        console.error("No database content found in localStorage.");
                        return;
                    }
                } else {
                    const dbFileUrl = settings.baseSettings.sqliteFile;
                    response = await fetch(dbFileUrl);
                }

                const arrayBuffer = await response.arrayBuffer();
                dbInstance = new sqlPromise.Database(new Uint8Array(arrayBuffer));
                console.log("Database loaded.");
            }
            return dbInstance;
        }

        function convertSqlToJson(db, sqlQuery, sqlQueryName) {
            const sqlResult = db.exec(sqlQuery);
            //console.log("SQL Result:", sqlResult);

            // Loop through each result (columns and values for each query)
            const jsonData = sqlResult.map(result => {
                const columnNames = result.columns;
                return result.values.map(row => {
                    let obj = {};
                    columnNames.forEach((col, index) => {
                        obj[col] = row[index];
                    });
                    return obj;
                });
            });

            console.log("JSON Data for "+sqlQueryName, jsonData);
            return jsonData;
        }

        const db = await loadDatabase(); // Use cached database

            async function fetchFileList(plugin) {
                if (!settings.plugins?.[plugin]) return [];
                const response = await fetch(settings.plugins[plugin].filelist);
                return (await response.text())
                    .split('\n')
                    .map(line => line.trim())
                    .filter(line => line.length > 0);
            }


        // GET QUERY PARAMETERS FROM URL
        // =============================
        function getQueryParams() {
            const params = new URLSearchParams(window.location.search);
            let queryObject = {};
            for (const [key, value] of params.entries()) {
                queryObject[key] = value;
            }
            return queryObject;
        }

        function versionCheck() {
            const currentVersionElement = document.getElementById('currentVersion');
            const latestVersionElement = document.getElementById('latestVersion');
            const currentVersion = currentVersionElement.innerHTML;
            const latestVersion = latestVersionElement.innerHTML;
            if (currentVersion < latestVersion) {
                document.getElementById('updateText').innerHTML="New version available "+latestVersion;
                console.log("New version available");
            }
        }


    async function updatePageContent(queryParams) {

    document.getElementById("liquidjsContent").innerHTML = document.getElementById('loader').innerHTML;

        console.log("Query Parameters:", queryParams);

        switch(queryParams.p) {

            case "overview":
            case undefined: {
                document.title = translation.menu.overview + " - Immer in Bewegung";

                const overviewYear = convertSqlToJson(db, getSqlQuery('overview_year'), 'overview_year');
                const overviewCountry = convertSqlToJson(db, getSqlQuery('overview_country'), 'overview_country');
                const tripDomains = convertSqlToJson(db, getSqlQuery('common_tripDomains'), 'common_tripDomains');
                const parameters = {translation, overviewYear, overviewCountry, tripDomains };
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'overview.html' %}", parameters);
                break;
            }

            case "trip": {
                document.title = queryParams.id + " - Immer in Bewegung";

                const diaryFilesArray = await fetchFileList('diary');
                const passportFilesArray = await fetchFileList('passport');

                const summary = convertSqlToJson(db, getSqlQuery('trip_summary', queryParams.id), 'trip_summary');
                const sevents = convertSqlToJson(db, getSqlQuery('trip_events', queryParams.id), 'trip_events');
                const allTrips = convertSqlToJson(db, getSqlQuery('trip_allTrips'), 'trip_allTrips');
                const tripDomains = convertSqlToJson(db, getSqlQuery('common_tripDomains'), 'common_tripDomains');
                const borderCrossings = convertSqlToJson(db, getSqlQuery('trip_borderCrossings', queryParams.id), 'trip_borderCrossings');
                const mapPins = convertSqlToJson(db, getSqlQuery('trip_mapPins', queryParams.id), 'trip_mapPins');
                const parameters = {translation, queryParams, settings, summary, sevents, allTrips, tripDomains, borderCrossings, mapPins };
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'trip.html' %}", parameters);
                initializeMapTrip();

                document.getElementById('alltrip').addEventListener('change', function() {
                    window.history.pushState({}, '', '?p=trip&id=' + this.value);
                    updatePageContent({p: 'trip', id: this.value});
                });
                document.getElementById('curtriptype').addEventListener('change', function() {
                    window.history.pushState({}, '', '?p=trip&id=' + this.value);
                    updatePageContent({p: 'trip', id: this.value});
                });

                break;
            }

            case "images": {
                document.title = queryParams.id + " - Immer in Bewegung";
                const dateList = convertSqlToJson(db, getSqlQuery('images_dateList', queryParams.id), 'images_dateList');
                const tripDomains = convertSqlToJson(db, getSqlQuery('common_tripDomains'), 'common_tripDomains');
                const parameters = {translation, dateList, tripDomains, queryParams };
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'images.html' %}", parameters );

                document.getElementById('date_dd').addEventListener('change', function() {
                    window.history.pushState({}, '', '?p=images&id=' + this.getAttribute('data-image-trip-id') + '&date=' + this.value);
                    updatePageContent({p: 'images', id: this.getAttribute('data-image-trip-id'), date: this.value});
                });

                break;
            }

            case "map": {
                document.title = translation.menu[queryParams.p] + " - Immer in Bewegung";
                let mapData;
                const countryList = convertSqlToJson(db, getSqlQuery('map_countryList', queryParams.id), 'map_countryList');
                if (!queryParams.country) {
                    mapData = convertSqlToJson(db, getSqlQuery('map_contour', queryParams.id), 'map_contour');
                } else {
                    mapData = convertSqlToJson(db, getSqlQuery('map_country', queryParams.country), 'map_country');
                }

                console.log(mapData);
                const tripDomains = convertSqlToJson(db, getSqlQuery('common_tripDomains'), 'common_tripDomains');
                const parameters = {translation, queryParams, countryList, mapData, tripDomains };
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'map.html' %}", parameters);
                if (!queryParams.country) {
                    initializeMapContours();
                } else {
                    initializeMapCountry();
                }
                break;
            }

            case "statistics": {
                document.title = translation.menu[queryParams.p] + " - Immer in Bewegung";

                const perDomainYear = convertSqlToJson(db, getSqlQuery('statistics_perDomainYear', queryParams.id), 'statistics_perDomainYear');
                const tripCount = convertSqlToJson(db, getSqlQuery('statistics_tripCount'), 'statistics_tripCount');
                const overnights = convertSqlToJson(db, getSqlQuery('statistics_overnights', queryParams.id), 'statistics_overnights');
                const tripDomains = convertSqlToJson(db, getSqlQuery('common_tripDomains'), 'common_tripDomains');
                const OLSSVSS = convertSqlToJson(db, getSqlQuery('statistics_OLSSVSS'), 'statistics_OLSSVSS');
                const parameters = {translation, perDomainYear, tripCount, overnights, tripDomains, tripDomains, OLSSVSS };
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'statistics.html' %}", parameters);
                initializeChart();
                initializeChartOvernights();
                break;
            }

            case "dataset": {
                document.title = translation.menu[queryParams.p] + " - Immer in Bewegung";

                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'dataset.html' %}", {translation});
                break;
            }

            case "about": {
                document.title = translation.menu[queryParams.p] + " - Immer in Bewegung";
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'about.html' %}", {translation});
                versionCheck();
                break;
            }

            case "search": {
                document.title = queryParams.s + " - Immer in Bewegung";
                const trip = convertSqlToJson(db, getSqlQuery('search_trip', queryParams.s), 'search_trip');
                const sevent = convertSqlToJson(db, getSqlQuery('search_event', queryParams.s), 'search_event');
                const tripDomains = convertSqlToJson(db, getSqlQuery('common_tripDomains'), 'common_tripDomains');
                const parameters = {translation, trip, sevent, tripDomains };
                document.getElementById("liquidjsContent").innerHTML = await engine.parseAndRender("{% include 'search.html' %}", parameters);
                break;
            }

        }

        window.updatePageContent = updatePageContent;
        window.getQueryParams = getQueryParams;
    }


        // Initial page load
        document.getElementById("liquidjsMenu").innerHTML = await engine.parseAndRender(document.getElementById("liquidjsTemplateMenu").innerHTML, {translation});
        initializeOffcanvasClose();
        await updatePageContent(getQueryParams());


        // Listen for query parameter change
        /*window.addEventListener('popstate', async () => {
            await updatePageContent(getQueryParams());
        });*/

                // Listen for click event and replace href with partial reload
    document.body.addEventListener('click', function (event) {
        const target = event.target;
        if (target.tagName === 'A' && target.getAttribute('href') && target.getAttribute('href').startsWith('?')) {
            event.preventDefault();
            const newUrl = target.getAttribute('href');
            history.pushState(null, '', newUrl);
            updatePageContent(getQueryParams());
        }
    });



    })();



    function initializeOffcanvasClose() {
    var offcanvasLinks = offcanvasNavbar.querySelectorAll(".nav-link");

        offcanvasLinks.forEach(function (link) {
            link.addEventListener("click", function () {
                var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasNavbar);
                if (offcanvas) {
                    offcanvas.hide();
                }
            });
        });
    }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="components/iibCharts.js"></script>
    <script src="components/iibMaps.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>
</html>
