<style>
{% for tripDomain in jsonData[2] %}
:root[data-bs-theme="light"] .iib-map-ref[data-iib-tripDomain='{{ tripDomain.DomainAbbreviation }}'] {
  background-color: {{ tripDomain.Color }}!important;
  color:#fff;
  padding: 3pt 5pt 3pt 5pt;
}
{% endfor %}
</style>
<div style="z-index:1001;position:absolute;width:100%;text-align:center;" class="p-2">
        <select id="alltrip"  class="form-control text-center" style="max-width:200pt;margin:auto;" onchange="document.location='?p=map&country='+this.value;">
        <option value="">{{ translation.map.overallRoute | default: "Overall route for all trips" }}</option>
                {% for trip in jsonData[0] %}
                    <option value="{{ trip.AccommodationCountry }}" {% if queryParams.country == trip.AccommodationCountry %}selected{% endif %}>{{ trip.AccommodationCountry }}</option>
                {% endfor %}
        </select>
</div>

<div id="map-pin-data" data-map='{{ jsonData[1] | json }}'></div>

<div id="map" style="height:100%;width:100%;"></div>
